.maincontainer{
    color: plum;
    width: 70%;
    height:300px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    margin-left: 20%;
    margin-right: 30%;
    padding-right: 5%;
    font-size: 20px;
}
.banner{
    margin-left: 0%;
    display: flex;
    justify-content: center;
}
.email{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-style: italic;
    display: flex;
    justify-content: center;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    padding-bottom: 5%;

}

.boton{
    background-color:hotpink;
    color:whitesmoke;
    border-radius: 10%;

}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5%;
    padding-left: 30%;
    padding-right:30%;
    font-size: 35px;

}
.derechos{
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;

}
a
{color:plum;}